{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register - Advit Placement{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Sign Up</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3 text-center">
                    <small class="text-muted">
                        Already Have An Account? <a class="ms-2" href="{% url 'login' %}">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}